<ol class="q other-block qSwitch">
    <b--e--view--settings--li class=" clear flex row center-column">
        <b--e--view--settings--left-span>
            <button
                class="backToMainMenu full-size"
                style="
                    color:white;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    width:40px;
                    height:40px;
                "
            >
                <b--svg--icon--arrow w="25px" />
            </button>
        </b--e--view--settings--left-span>
        <b--e--view--settings--right-span>
            Video quality
        </b--e--view--settings--right-span>
    </b--e--view--settings--li>

    <b--e--view--settings--libutton data-value="0">
        <b--e--view--settings--left-span>
            0
        </b--e--view--settings--left-span>
    </b--e--view--settings--libutton>
</ol>