

<b--e--view--panel>
    
    <buttons>
        <li>
            <b--e--slider
                class=" imgZoom full-height"
            >
                <icon>
                    <b--svg--icon--file--alt-arrows />
                </icon>
            </b--e--slider>
        </li>
        <li style="margin: 0 auto;aspect-ratio: auto;"></li>
        <li>
            <button class="dl">
                <a></a>

                <span>
                    <b--svg--icon--download />
                </span>
                
            </button>
        </li>
        <li>
            <button class="fs clear">
                <span>
                    <b--svg--icon--fullscreen />
                </span>
            </button>
        </li>
    </buttons>

</b--e--view--panel>
