<ol class="block menu">
    <b--e--view--settings--li
        id="replaySwitch"
    >
        <b--e--view--settings--left-span>
            Replay
        </b--e--view--settings--left-span>
        <b--e--view--settings--right-span>
            Off
        </b--e--view--settings--right-span>
    </b--e--view--settings--li>

    <b--e--view--settings--li
        id="speedSwitch"
    >
        <b--e--view--settings--left-span>
            Speed
        </b--e--view--settings--left-span>
        <b--e--view--settings--right-span>
            Normal
        </b--e--view--settings--right-span>
    </b--e--view--settings--li>

</ol>