<ol class="block menu">
    <b--e--view--settings--li
        class=" clear"
    >
        <ol class="flatButtons">
            <li>
                <button
                    id="replaySwitch"
                    title="Replay"
                >
                    <b--svg--icon--file--reload />
                </button>
            </li>
            <li>
                <button
                    id="displaySwitch"
                    title="Display"
                    class="on"
                >
                    <b--svg--icon--file--image />
                </button>
            </li>
        </ol>
    </b--e--view--settings--li>

    <b--e--view--settings--li>
        <button
            id="speedSwitch"
            class="to-ob"
        >
            <b--e--view--settings--left-span>
                Speed
            </b--e--view--settings--left-span>
            <b--e--view--settings--right-span>
                Normal
            </b--e--view--settings--right-span>
        </button>
    </b--e--view--settings--li>

    <b--e--view--settings--li>
        <button
            id="qSwitch"
            class="to-ob"
        >
            <b--e--view--settings--left-span>
                Quality
            </b--e--view--settings--left-span>
            <b--e--view--settings--right-span>
                0
            </b--e--view--settings--right-span>
        </button>
    </b--e--view--settings--li>

</ol>