<ol class="block menu">
    <b--e--view--settings--li
        class=" clear"
    >
        <ol class="flatButtons">
            <li>
                <button
                    id="replaySwitch"
                    title="Replay"
                >
                    <b--svg--icon--file--reload
                        width="20px"
                        height="20px"
                    />
                </button>
            </li>
        </ol>
    </b--e--view--settings--li>

    <b--e--view--settings--li>
        <button
            id="speedSwitch"
        >
            <b--e--view--settings--left-span>
                Speed
            </b--e--view--settings--left-span>
            <b--e--view--settings--right-span>
                Normal
            </b--e--view--settings--right-span>
        </button>
    </b--e--view--settings--li>

</ol>