<ol class="block speed">
    <b--e--view--settings--li class=" clear flex row center-column">
        <b--e--view--settings--left-span>
            <button
                class="backToMainMenu full-size"
                style="
                    color:white;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    width:40px;
                    height:40px;
                "
            >
                <b--svg--icon--arrow w="25px" />
            </button>
        </b--e--view--settings--left-span>
        <b--e--view--settings--right-span>
            Playback speed
        </b--e--view--settings--right-span>
    </b--e--view--settings--li>

    <b--e--view--settings--li data-value="0.25">
        <b--e--view--settings--left-span>
            0.25    
        </b--e--view--settings--left-span>
    </b--e--view--settings--li>

    <b--e--view--settings--li data-value="0.5">
        <b--e--view--settings--left-span>
            0.5
        </b--e--view--settings--left-span>
    </b--e--view--settings--li>

    <b--e--view--settings--li data-value="0.75">
        <b--e--view--settings--left-span>
            0.75
        </b--e--view--settings--left-span>
    </b--e--view--settings--li>

    <b--e--view--settings--li data-value="1">
        <b--e--view--settings--left-span>
            Normal
        </b--e--view--settings--left-span>
    </b--e--view--settings--li>

    <b--e--view--settings--li data-value="1.25">
        <b--e--view--settings--left-span>
            1.25
        </b--e--view--settings--left-span>
    </b--e--view--settings--li>

    <b--e--view--settings--li data-value="1.5">
        <b--e--view--settings--left-span>
            1.5
        </b--e--view--settings--left-span>
    </b--e--view--settings--li>
    
    <b--e--view--settings--li data-value="1.75">
        <b--e--view--settings--left-span>
            1.75
        </b--e--view--settings--left-span>
    </b--e--view--settings--li>

    <b--e--view--settings--li data-value="2">
        <b--e--view--settings--left-span>
            2
        </b--e--view--settings--left-span>
    </b--e--view--settings--li>

</ol>