

<b--e--view--panel>
    
    <buttons>
        <li>
            <button class="play clear">
                <b--svg--icon--file--play />
            </button>
        </li>
        <li>
            <b--e--slider
                class=" sound full-height"
            >
                <icon>
                    <b--svg--icon--file--sound />
                </icon>
            </b--e--slider>
        </li>
        <li style="margin: 0 auto;aspect-ratio: auto;"></li>
        <li>
            <button class="fs clear">
                <span>
                    <b--svg--icon--fullscreen />
                </span>
            </button>
        </li>
    </buttons>

</b--e--view--panel>
